{% extends 'app/base.html' %}
{% load custom_filters %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        {% for item in page_obj %}
        <div class="bg-white shadow-md rounded-xl overflow-hidden hover:shadow-xl transition duration-300">
            <div class="h-44 w-full overflow-hidden">
                <img src="{{ item.image }}" class="w-full h-full object-cover hover:scale-105 transition duration-300" alt="">
            </div>
            <div class="p-4">
                <div class="flex justify-between items-center mb-2">
                    <h2 class="font-bold text-gray-800 text-sm">{{ item.user_name | capfirst}}</h2>
                    <p class="text-xs text-gray-500">{{ item.created_at | date:"d M Y"}}</p>
                </div>
                <h3 class="text-md font-semibold">{{ item.name | capfirst }}</h3>

                <p class="text-gray-600 text-sm mt-1 line-clamp-2">{{ item.descri | truncatechars:50 }}</p>

                <p class="text-amber-200 font-bold text-md mt-2 line-through">{{ item.price | floatformat:2 | currency }}</p>
                <div>
                    <p class="text-amber-400 font-bold text-md mt-2">Discounted Price: {{ item.price | discount:10 }}</p>
                </div>
                <div class="flex justify-between items-center mt-3">
                    {% if item.is_available %}
                        <span class="text-green-600 font-semibold text-xs">Available</span>
                    {% else %}
                        <span class="text-red-500 font-semibold text-xs">Not Available</span>
                    {% endif %}

                    <a href="{% url 'app:detail' item.id %}" class="bg-gray-800 text-white px-3 py-1 rounded-lg text-xs hover:bg-gray-700 transition">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div style="display:flex; justify-content:center; align-items:center; gap:10px; margin:40px 0; flex-wrap:wrap;">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"
       style="padding:10px 16px; border-radius:10px; background:#f1f3f5; text-decoration:none; color:#333; box-shadow:0 2px 6px rgba(0,0,0,0.05);">
        ← Prev
    </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span style="padding:10px 16px; border-radius:10px; background:#696464; color:#fff; box-shadow:0 3px 8px rgba(0,0,0,0.15);">
                {{ num }}
            </span>
        {% else %}
            <a href="?page={{ num }}"
               style="padding:10px 16px; border-radius:10px; background:#ffffff; text-decoration:none; color:#333; box-shadow:0 2px 6px rgba(0,0,0,0.08);">
                {{ num }}
            </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"
       style="padding:10px 16px; border-radius:10px; background:#f1f3f5; text-decoration:none; color:#333; box-shadow:0 2px 6px rgba(0,0,0,0.05);">
        Next →
    </a>
    {% endif %}
</div>


{% comment %} 
<div>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endcomment %}

{% endblock %}






{% comment %} {% extends 'app/base.html' %}
{% block content %}

<div class="m-3">
    {% for item in items %}
        <div class="m-7 h-48 flex mx-auto w-full border-1 rounded-sm p-3">
            <div class="">
                <img class="w-50 h-full rounded-lg" src="{{ item.image }}" alt="">
            </div>
            <div class="mx-10">
                <h2 class="font-extrabold text-lg">{{ item.user_name }}</h2>
                <p>{{ item.created_at }}</p>
                <p class="font-bold">{{item.id}}. {{ item.name }}</p>
                <p>{{ item.descri }}</p>
                <p class="text-amber-400 font-bold">$ {{ item.price }}</p>
                {% if item.is_available %}
                <p>Available</p>
                {% else %}
                <p>Not Available</p>
                {% endif %}
            </div>
            <div class="my-3">
                <a class="bg-gray-400 text-white font-bold px-3 py-2 rounded-md hover:bg-gray-500" href="{% url 'app:detail' item.id %}">Details</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %} {% endcomment %}

