<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Std_Id</th>
                <th>Std Name</th>
                <th>Age</th>
                <th>Mark</th>
            </tr>
        </thead>
        <tbody>
            {% for lists in list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ lists.std_id }}</td>
                <td>{{ lists.name }}</td>
                <td>{{ lists.age }}</td>
                <td>{{ lists.mark }}</td>
                <td>
                    <a href="{% url 'update' lists.id %}">Update</a>
                </td>
                <td>
                    <form action="{% url 'delete' lists.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>