* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: grid;
    place-content: center;
    font-size: 1rem;
    background-color: black;
    color: whitesmoke;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    max-width: 100vw;
    color: white;
    font-size: 1.5rem;
    min-width: 100vw;
    position: sticky;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
    color: yellowgreen
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
}