{% extends 'app/base.html' %}

{% block content %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>DOB</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lists %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.dob }}</td>
                    <td>
                        <a href="{% url 'app:update' item.id %}">Update</a>
                    </td>
                    <td>
                        <form action="{% url 'app:delete' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}