{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section style="padding: 10px">
        <h1>Login Form</h1>
        <form action="" class='form-with-validation' method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <button class='form-submit'>Submit</button>
        </form>
    </section>
{% endblock %}