{% extends 'base.html' %}
{% block content %}
    <div class="container pt-3 w-75">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>DOB</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for items in lists %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ items.std_id }}</td>
                    <td>{{ items.name }}</td>
                    <td>{{ items.dob }}</td>
                    <td>{{ items.phone_no }}</td>
                    <td>
                        <a href="{% url 'update_list' items.id %}" class="btn btn-outline-secondary">Update</a>
                    </td>
                    <td>
                        <form action="{% url 'delete_list' items.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Back to Home</a>
        </div>
        
    </div>
{% endblock %}