<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | {% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <nav class="bg-emerald-50 basis-full text-cyan-800">
        <div class="flex justify-between px-4 py-2">
            <div class="text-2xl">
                <h2>Blog</h2>
            </div>
            <div class="space-x-3">
                <a href="">Home</a>
                <a href="">Contact</a>
                <a href="">About</a>
            </div>
            <div>
                <a href="{% url 'users:register' %}">Sigup</a>
            </div>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
        <div>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>