{% extends "app_folder/base.html" %}
{% block title %}Product List{% endblock %}

{% block body %}
<div>
    <table>
        <thead>
            <th>
                <td>Product Name</td>
                <td>Product Code</td>
                <td>Price</td>
                <td>Description</td>
                <td>Image</td>
            </th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_code }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.product_describ }}</td>
                <td>
                    <img
                    src="{{ product.product_image.url }}"
                    alt="{{product.product_name}}" width="100px"
                />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}