<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Age</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td>{{ list.id }}</td>
                <td>{{ list.name }}</td>
                <td>{{ list.sub }}</td>
                <td>{{ list.clas }}</td>
                <td><a href="{% url 'app:detail' list.id %}">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>